/* Colors */

.bg-brand {
  background-color: var(--clr-brand);
}

.bg-brand-light {
  background-color: var(--clr-brand-light);
}

.bg-brand-dark {
  background-color: var(--clr-brand-dark);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-light {
  background-color: var(--clr-light);
}

.fg {
  color: var(--clr-fg);
}

.bg {
  background-color: var(--clr-bg);
}
