/* Shadows */
.shadow-section {
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
}
/* Text Shadows */
.text-shadow-default {
  text-shadow: 0 0 .5rem hsla(0, 0%, 0%, 0.2);
}

.text-shadow-md {
  text-shadow: 0 0 .6rem hsla(0, 0%, 0%, 0.4);
}

.text-shadow-lg {
  text-shadow: 0 0 .7rem rgba(0, 0, 0, 0.6);
}

.text-shadow-xl {
  text-shadow: 0 0 .8rem hsla(0, 0%, 0%, 0.8);
}

.text-shadow-2xl {
  text-shadow: 0 0 1rem hsl(0, 0%, 0%, 1);
}

.text-shadow-inner {
  text-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.text-shadow-none {
  text-shadow: none;
}


/* Gradients */
.bg-gradient-yellow{
  background: linear-gradient(90deg, rgba(182,147,54,1) 0%, rgba(249,236,170,1) 23%, rgba(240,204,104,1) 41%, rgba(255,224,157,1) 59%, rgba(183,160,102,1) 77%, rgba(202,179,122,1) 100%);
}

/* Estilos para el carrusel */

.swiper-button-next,
.swiper-button-prev {
  color: #0EBE60 !important;
  filter: drop-shadow(0 0 .2rem rgba(0, 0, 0, 0.3));

}

.swiper-pagination-bullet {
  background-color: #0EBE60 !important;
  opacity: 1 !important;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* ::: ANIMATIONS ::: */

/* .animate-load */

@keyframes load {
  0% {
    width: 0%;
  }

  100% {
    width: 200%;
  }
}

.animate-load {
  background: linear-gradient(90deg, transparent 50%, hsla(0, 0%, 100%, 0.5) 100%);
  animation: load 3s linear infinite;
}

/* .apear */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.appear {
  animation: fadeIn 1s ease-in-out;
}
